.secondSection {
  position: relative;
  padding-top: 56px;

  ul {
    position: absolute;
    top: 0;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #e36c3f;

    &.isFixed {
      position: fixed;
    }
    
    li {
      position: relative;
      color: white;
      // 去除ul的.
      list-style: none;

      .line {
        position: absolute;
        left: 50%;
        bottom: -8px;
        transform: translateX(-50%);
        width: 100%;
        height: 4px;
        background: green;
        opacity: 0;
        // 元素在改变opacity属性后的过渡效果
        transition: opacity .3s;

        // line类不是visible类的父级
        // & 表示 同时有line类和visible类的样式
        &.visible {
          opacity: 1;
        }
      }
    }
  }

  // tab content
  section {
    padding: 16px;
    scroll-margin: 56px;

    h2 {
      color: white;
    }

    img {
      width: 100%;
      margin-top: 16px;
      border-radius: 6px;
    }
  }
}